<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeadPhone Stats | Recomendações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    
    <nav class="navbar navbar-expand-sm bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('Home.home') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="LogoNav-Bar" width="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('Home.home') }}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Busca.buscaArtist') }}">Buscar artista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('Recomendacao.recomendation') }}">Recomendações</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    HeadPhone Stats
                </span>
            </div>
        </div>
    </nav>

    <div class="container my-3 my-sm-5">
        <h1 class="text-center mb-md-4">
            As melhores recomendações baseadas no seu gosto!
        </h1>
        <p class="lead text-center">
            A poderosa ferramenta de busca do <strong>HeadPhone Stats</strong> também consegue recomendar músicas, álbuns e artistas de acordo com o seu gosto. Vamos tentar!?
        </p>
        <br>
        <form action="{{ url_for('Recomendacao.recomendation') }}" method="POST" id="disco-form" name="disco-form">
            <div class="text-center mb-md-4">
                <button type="submit" class="btn btn-primary btn-lg">Experimentar</button>
            </div>
        </form>
    </div>

    {% if recomendation and "Erro" in recomendation %}
    
    <div class="container my-3 my-sm-5">
        <p class="lead text-center">
            Não foi possível fazer recomendações, tente fazer uma pesquisa antes!
        </p>
        <br>
        <form action="{{ url_for('Busca.buscaArtist') }}" method="GET">
            <div class="text-center mb-md-4">
                <button type="submit" class="btn btn-primary btn-lg">Tentar Pesquisa</button>
            </div>
        </form>
    </div>

    {% else %}

    <div class="container my-3 my-sm-5">
        <h5 class="text-center mb-md-4">
            Recomendações baseadas na sua pesquisa sobre:
        </h5>
        <h2 class="text-center mb-md-4">
            {{ recomendation[0] }}
        </h2>

        <br>
        <div class="row">
            {% for recomendacao in recomendation[1] %}
            <div class="col-12 col-md-6 col-lg-4">
                <p>Título: <strong>{{ recomendacao['Nome'] }}</strong></p>
                <p>Popularidade: {{ recomendacao['Popularidade'] }}% dos usuários do Spotify já ouviram</p>

                <h2 class="text-center">Gráfico de popularidade criado</h2>
                
            </div>
            {% endfor %}
        </div>

        <!-- Gráfico de Popularidade -->
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-10">
                <h3 class="text-center">Gráfico de Popularidade</h3>
                <form action="{{ url_for('Recomendacao.open_file') }}" method="GET">
                  <div class="text-center mb-md-4">
                    <button class="btn btn-primary btn-lg" type="submit">Abrir Arquivo</button>
                  </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

</body>
</html>
